/* Details.css */

.custom-image {
  display: block;
  max-width: 50%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  image-rendering: crisp-edges;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.recipe-details {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.recipe-details h2 {
  color: #333;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
}

.recipe-details p {
  color: #555;
  text-align: center;
}

.ingredients-list {
  list-style-type: none;
  padding: 0;
}

.ingredients-list li {
  margin-bottom: 5px;
}

.instructions {
  margin-top: 20px;
}

.instructions p {
  line-height: 1.5;
  text-align: justify;
}

button {
  text-align: center;
  margin: 20px 5px;
}

.back-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0f0f0f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 90%;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #3c3e41;
}
